.home-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    .list-wrapper {
        width: 30%;
        margin-right: 40px;
    }

    .details-wrapper {
        width: 20%;
    }
}