<div class="details-wrapper">
    <h2 class="details-title">Contact Details</h2>
    @if (selectedContact$ | async; as selectedContact) {
        <div class="contact-wrapper">
            <div class="detail-field">
                <label>First name:</label>
                <span>{{ selectedContact.firstName ? selectedContact.firstName : 'N/A' }}</span>
            </div>
            <div class="detail-field">
                <label>Last name:</label>
                <span>{{ selectedContact.lastName ? selectedContact.lastName : 'N/A' }}</span>
            </div>
            <div class="detail-field">
                <label>Phone number:</label>
                <span>{{ selectedContact.phone ? selectedContact.phone : 'N/A' }}</span>
            </div>
            <div class="detail-field">
                <label>Email:</label>
                <span>{{ selectedContact.email ? selectedContact.email : 'N/A' }}</span>
            </div>
            <div class="detail-field">
                <label>Address:</label>
                <span>{{ selectedContact.address ? selectedContact.address : 'N/A' }}</span>
            </div>
        </div>
    }
    @else {
        <div class="no-contact-wrapper">
            <span>Select a contact to display details!</span>
        </div>
    }
</div>

